name: Build and Push developmenttoproduction FastAPI docker Image

on:
    push:
        branches: [main]

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Generate timestamp tag
              run: echo "VERSION=$(date +'%Y-%m-%d-%H%M%S')" >> $GITHUB_ENV

            - name: Build and push image
              run: |
                docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/developmenttoproduction:${{ env.VERSION }} .
                docker push ${{ secrets.DOCKERHUB_USERNAME }}/developmenttoproduction:${{ env.VERSION }}

